body{background: url('img/bg.png');}
canvas {
    border:1px solid #444;
    /*background-image:url(img/INNER_BG.png);*/
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}
#container{
    background-color: #343639;
    position: relative;
    display: flex;
    margin: 0 auto;
    border: 2px solid white;
    border-radius: 10px;
}
span.res{
    line-height: 1.5;
    width: 24px;
    height: 24px;
    padding: 2px;
    border: 1px solid #333;
    color: #fff;
}
.res.square{
    background: url('img/box.png');
}

#result{
    border:1px solid #d3d3d3;
    /*background-image: linear-gradient(#b1967d, #a28264);*/
    max-height: 362px;
    overflow-y: scroll;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    /*border: 2px solid #4e3e2f;*/
    padding: 8px;
    text-align: center
}
.result {
    color: white;
    height: 42px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid black;
}
.result .num{
    font-weight: bold;
}
span.circle{
    width: 54px;
    height: 45px;
}
.left {
    position: absolute;
    top: 37px;
    left: 81px;
    background: url(img/left.png) no-repeat;
    background-size: 45px;
    /*background: url(img/left.png) no-repeat 0 -210px;*/
}
.right {
    position: absolute;
    top: 37px;
    left: 230px;
    background: url(img/right.png) no-repeat;
    background-size: 45px;
}
.odd {
    position: absolute;
    top: 308px;
    left: 81px;
    background: url(img/under.png) no-repeat;
    background-size: 45px;
}
.even {
    position: absolute;
    top: 308px;
    left: 230px;
    background: url(img/over.png) no-repeat;
    background-size: 45px;
}
.progress-container{
    position: absolute;
    top: 142px;
    left: 45px;
    width: 262px;
    height: 72px;
}
#timer{
    background: url(img/time.png) no-repeat;
    background-size: 264px 72px;
    height: 100%;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#bar{
    max-width: 380px;
    width: inherit;
    -webkit-appearance: none;
    height: 28px;
    margin-top: -7px;
    padding: 5px
}
::-webkit-progress-bar {
  background-color: #d3d3d3;
}
::-webkit-progress-value {
  background-color: skyblue;
}

@media only screen and (max-width: 600px) {
    body{margin: 0}
    canvas{
        border-bottom-left-radius: 0;
    }
    #container{
        display: block;
        overflow: hidden;
        width: 341px;
    }
    #result{
        height: 260px;
        margin-top: -4px;
        border-top-right-radius:0;
    }
    #bar{
        width: 100%
    }
    .odd,.even{
        top: 294px;
    }
    .progress-container{
        width: 262px;
        top: 134px;
    }
}

@media only screen and (min-width: 600px) {
    body{
        width: 820px;
    }
    .logo{
        background: url('img/logo.png') no-repeat;
        width: 346px;
        height: 100px;
        margin: 10px auto;
    }
    #container{
        width: 65%;
    }
    #result{
        border-left: 2px solid white;
        width: 100%
    }
    .result{
        width: 130px; 
    }
}

#result::-webkit-scrollbar {
    width: 20px;
    border: 2px;
    border-color: transparent;
}
#result::-webkit-scrollbar-thumb {
    width: 18px;
    height: 40px;
    background-image: url('img/thumb.png');
    background-size: 16px 40px;
    border-radius: 8px;
}
#result::-webkit-scrollbar-track {
    width: 14px;
    background-image: url('img/track.png');
    margin: 0 2px;
    border-radius: 10px;
    border: #4e3e2f;

}
