canvas {
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
}
#bar{
    width: 420px;
    -webkit-appearance: none;
    height: 20px;
}
::-webkit-progress-bar {
  background-color: #d3d3d3;
}
::-webkit-progress-value {
  background-color: blue;
}
#result{
    border:1px solid #d3d3d3;
    background-color: #f1f1f1;
    width: 240px;
    margin-left: 30px;
}
#container{
    display: flex;
}
@media only screen and (max-width: 600px) {
    #container{
        display: block;
    }
    #result{
        height: 360px;
        width: 100%;
        margin-left: 0
    }
}