<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
<script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
</head>
<body>
    <!-- <li>REMOTE_ADDR {{res.REMOTE_ADDR}}</li>
    <li>REMOTE_HOST {{res.REMOTE_HOST}}</li>
    <li>HTTP_REFERER {{res.HTTP_REFERER}}</li>
    <li>{{remote}}</li> -->
    {% block content %}
    {% endblock content %}
    <script>
        let fd = {};
        fd['clientID'] = 'xrbxrb';
        fd['secret'] = 'h33x41e@+=$q_!i+#uko%lh+t1@=+k';
        $.post(`/api/2`, fd,  function(res){
            const data = JSON.parse(res)
            console.log(data)
        })
    </script>
</body>
</html>